# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python bytecode
__pycache__/
*.py[cod]

# Environments
.venv/
env/
venv/

# Large data files (optional - if you want to keep data local only)
# dataset/

rf_diabetes_model.pkl
trained_model.pkl

.env
test.py

deployment_guide.md
documentation.md